# EditorConfig helps maintain consistent coding styles across different editors
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4
max_line_length = 110

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{json,json5}]
indent_style = space
indent_size = 2

[*.{md,rst}]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.sh]
indent_style = space
indent_size = 2
