[auth]
brand_account = 101234229123420379537
brand_account_empty = 1123456629123420379537
headers = headers_auth_json_as_string
headers_empty = headers_account_with_empty_library_as_json_as_string
headers_file = ./headers_auth.json
headers_oauth = ./oauth.json
oauth_code = {"device_code":"","user_code":"","expires_in":1800,"interval":5,"verification_url":"https://www.google.com/device"}
oauth_token = {"access_token":"","expires_in":1000,"refresh_token":"","scope":"https://www.googleapis.com/auth/youtube","token_type":"Bearer"}
headers_raw = raw_headers_pasted_from_browser

[playlists]
own = owned_playlist_id

[uploads]
file = song_in_tests_directory.mp3
private_album_id = sample_id_of_private_album
private_artist_id = sample_id_of_private_artist
private_upload_id = sample_video_id_of_private_upload

[limits]
library_playlists = 100
library_songs = 200
library_artists = 300
library_subscriptions = 50
library_upload_albums = 200
library_upload_artists = 250
