name: lint

on:
  pull_request:
    branches:
      - main
    paths:
      - ytmusicapi
      - tests

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: chartboost/ruff-action@v1
      - uses: chartboost/ruff-action@v1
        with:
          args: format --check
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.8"
      - run: pip install mypy==1.8.0
      - run:  mypy --install-types --non-interactive
