name: lint

on:
  pull_request:
    branches:
      - main
    paths:
      - ytmusicapi/**
      - tests/**

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
        with:
          version: 0.11.5
      - uses: chartboost/ruff-action@v1
        with:
          version: 0.11.5
          args: format --check
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: pip install mypy==1.15.0
      - run:  mypy --install-types --non-interactive
